  html {
    box-sizing: border-box;
  }

  body {
    background: rgb(188, 247, 174);
  }

  li {
      list-style: none;
  }

  li.grid-item {
    float: left;
    margin: 30px 12px;
    height: 575px;
    box-sizing: border-box;
    background: white;
    border-radius: 35px;
  }

  h1, h2, h3 {
      text-align: center;
      padding: 20px;
      clear: both;
      box-sizing: border-box;
  }

  img {
      display: block;
      width: 60%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      padding: auto;
      box-sizing: border-box;
      border-radius: 25px;
  }

  p {
      text-align: center;
      clear: both;
      padding: 20px;
      box-sizing: border-box;
  }

  #grid-floats, #grid-flex {
    width: 100%;
  }

  #grid-floats .grid-item {
    max-width: calc((100% - 160px) / 4);
  }

  #grid-flex {
    display: flex;
    flex-flow: row wrap;
  }
  
  #grid-flex .grid-item {
    flex: 0 0 calc((100% - 100px) / 4);
  }
  
  li:hover {
    background: rgb(184, 233, 145);
  }
  
  @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  @media screen and (min-width: 1280px) {
    img {
      width: 60%;
    }
  }

  @media screen and (min-width: 1080px) {
    #grid-floats .grid-item:nth-child(1) {
      max-width: calc((100% - 8rem) / 2);
      animation:  bounceIn 2s ease-in-out 3s infinite;
    }
    #grid-flex .grid-item:nth-child(1) {
      flex-basis: calc((100% - 5rem) / 2);
      animation:  bounceIn 2s ease-in-out 3s infinite;
    }
  }
  
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    #grid-floats .grid-item {
      max-width: calc((100% - 8rem) / 3);
    }
    #grid-floats .grid-item:nth-child(-n + 2) {
      max-width: calc((100% - 6rem) / 2);
    }
    #grid-flex .grid-item {
      flex-basis: calc((100% - 8rem) / 3);
    }
    #grid-flex .grid-item:nth-child(-n + 2) {
      flex-basis: calc((100% - 8rem) / 2);
    }
  }
  
  @media screen and (max-width: 720px) {
    #grid-floats .grid-item {
      max-width: calc((100% - 6rem) / 2);
    }
    #grid-floats .grid-item:nth-child(1) {
      max-width: calc(100% - 4rem);
      height: 40rem;
    }
    #grid-flex .grid-item {
      flex-basis: calc((100% - 8rem) / 2);
    }
    #grid-flex .grid-item:nth-child(1) {
      flex-basis: calc(100% - 5rem);
      height: 40rem;
    }
  }
  